# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.egg-info/

# Env
.env

# Runtime data
IAnGogh/data/backups/*
IAnGogh/data/exports/*
IAnGogh/data/temp/*
IAnGogh/data/logs/*

# Keep folders
!IAnGogh/data/backups/.gitkeep
!IAnGogh/data/exports/.gitkeep
!IAnGogh/data/temp/.gitkeep
!IAnGogh/data/logs/.gitkeep
